body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #03002b;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right bottom, #03002b, #03002b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 80%;
    background: #03002b;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}

h1 {
    font-size: 3.5em;
    color: #fff200;
    text-shadow: 3px 3px 6px #000;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.8;
    animation: fadeInUp 0.7s ease-in-out;
}
.start-button {
    display: inline-block;
    padding: 15px 35px;
    background-color: #7289da;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.start-button:hover {
    background-color: #5b6eae;
    transform: translateY(-5px);
}

.knowledge-graph img {
    max-width: 50%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(255, 221, 0);
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }
}