<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select STIX Objects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_object.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select STIX Entities</h1>
        <div class="stix-objects">
            <button type="button" class="stix-object" data-object="threat-actor">Threat Actor</button>
            <button type="button" class="stix-object" data-object="malware">Malware</button>
            <button type="button" class="stix-object" data-object="identity">Identity</button>
            <button type="button" class="stix-object" data-object="indicator">Indicator</button>
            <button type="button" class="stix-object" data-object="attack-pattern">Attack Pattern</button>
            <button type="button" class="stix-object" data-object="tool">Tool</button>
            <button type="button" class="stix-object" data-object="campaign">Campaign</button>
            <button type="button" class="stix-object" data-object="intrusion-set">Intrusion Set</button>
            <button type="button" class="stix-object" data-object="vulnerability">Vulnerability</button>
            <a href="https://oasis-open.github.io/cti-stix-visualization/" target="_blank" class="stix-visualizer-button">Open STIX Visualizer</a>
        </div>
            <button id="copy-json" type="button">Copy JSON</button>
        </div>
        <div class="selected-entities">
            <h2>Selected Entities</h2>
            <form id="selected-entities-form">
                <div id="selected-list"></div>
                <input type="button" id="generate-graph" value="Generate Graph">
            </form>
            <div id="json-output" style="white-space: pre-wrap;"></div>
        </div>
    </div>

    <footer>
        <p>© Laboratory of Analytical Sciences and UNC Pembroke</p>
        <a href="https://ncsu-las.org/">LAS</a> | <a href="https://www.uncp.edu">UNCP</a>
    </footer>

    <script src="{{ url_for('static', filename='js/select_objects.js') }}"></script>
</body>
</html>